

<div id='main'>
  <h1 id='welcome' style='position:relative;text-align:center;'>Composition Golem</h1>

  <div id='contents'>
      
      <div style='height:80%;'>
        <%= render 'form' %>
      </div>
      
      <div>
        <%= render 'results' %>
      </div>

  </div>
</div>