

<div id='main'>
  <h1 id='welcome' style='position:relative;text-align:center;'>Composition Golem</h1>

  <div id='contents'>
      <iframe id='new' src='/main/new'></iframe>

      <iframe id='show' src='/main/show'></iframe>
  </div>
</div>