<div class='parameters'>
    <form id='song-parameters'>
      <h2>Instrumentation</h2>
      <hr>
      <div class='flex-container'>
        <ul id='inst-main'>
          <h3>Main</h3>
          <li>Piano<input type='checkbox' name='piano' value='piano'></li>
          <li>Clarinet<input type='checkbox' name='clarinet' value='clarinet'></li>
        </ul>
        <ul id='inst-percussion'>
          <h3>Percussion</h3>
          <li>Snare<input type='checkbox' name='snare' value='snare'></li>
          <li>Bass Drum<input type='checkbox' name='bass-drum' value='bass-drum'></li>
          <li>Cymbal<input type='checkbox' name='cymbal' value='cymbal'></li>
        </ul>
      </div>
      <br>
      <h2>Scale</h2>
      <hr>
      <div class='flex-container'>
        <ul id='scale-root'>
          <h3>Root Note</h3>
          <li><input type='radio' name='note' value='c' checked>C</li>
          <li><input type='radio' name='note' value='d'>D</li>
          <li><input type='radio' name='note' value='e'>E</li>
          <li><input type='radio' name='note' value='f'>F</li>
          <li><input type='radio' name='note' value='g'>G</li>
          <li><input type='radio' name='note' value='a'>A</li>
          <li><input type='radio' name='note' value='b'>B</li>
        </ul>
        <ul id='scale-sign'>
          <h3>Scale Sign</h3>
          <li><input type='radio' name='sign' value='natural' checked>Natural</li>
          <li><input type='radio' name='sign'  value='sharp'>Sharp</li>
          <li><input type='radio' name='sign'  value='flat'>Flat</li>
        </ul>
        <ul id='scale-type'>
          <h3>Scale Type</h3>
          <li><input type='radio' name='type' value='major' checked>Major</li>
          <li><input type='radio' name='type'  value='minor'>Minor</li>
          <li><input type='radio' name='type'  value='dim'>Diminuitive</li>
        </ul>
      </div>
      <h2>Other Parameters</h2>
      <hr>
      <div class='flex-container'>
        <div>
          <h3>Beats per minute</h3><br>
          <input type='number' name='tempo' value='60'>bpm
          <h3>Number of beats in a phrase</h3><br>
          <input type='number' name='phrase-length' value='4'>
          <h3>Number of phrases in a sequence</h3><br>
          <input type='number' name='sequence-length' value='4'>
          <h3>Number of sequences in the song</h3><br>
          <input type='number' name='song-length' value='3'>
        </div>
      </div>
      <br>
      <br>
      <div>
        <%= button_to "Generate Song", :method=> generate_song(
"\"(sal)\"

\"load \"strike-length.sal\"\"

\"./tmp/test.wav\"
\"3\"
\"2\"
\"4\"
") %>
      </div>
    </form>
  </div>