// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

iframe {
  position: relative;
  height: 100%;
  width: 500px;
  // border: none;
}

#main {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.flex-container {
  display: flex;
}

#contents {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  height: 87.5%;
  width: 100%;
}




.parameters {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.song {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  visibility: hidden;
}