// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

#main {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.flex-container {
  display: flex;
}

#contents {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  border-style: solid;
}

#contents > div {
  vertical-align: middle;
  overflow: scroll;
  border-style: solid;
}


.song {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}